# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
lib/
lib64/
__pypackages__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# VS Code
.vscode/
.vscode/*
.vscode-test/

# Playwright specific
playwright-report/
playwright/screenshots/
playwright/videos/
playwright/traces/

# Test reports
test-results/
allure-results/
allure-report/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/
.cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Pyre type checker
.pyre/
.pytype/
